{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block navbar %}
<div class="navbar">
    <a href="article/create">Add tasks</a>
</div>
{% endblock %}
{% block content %}
{% for task in tasks %}
<div class="card" style="margin-top: 25px">
    <h5 class="card-header">{{task.status}}</h5>
    <div class="card-body">
        <h5 class="card-title">{{task.create_at}}t</h5>
        <p class="card-text">{{task.text}}</p>
        <a href="{% url 'detail_view' task.pk%}" class="btn btn-primary">Task detail info</a>
    </div>
</div>
{% endfor %}
{% endblock %}